---
nameOverride: ""
fullnameOverride: ""
exporter:
  image: theodore86/prometheus-gh-rate-limit-exporter
  tag: v0.7.6
  pullPolicy: IfNotPresent
  port: 10050
  # Definition of the github credentials for either PAT or APP credentials
  # For PAT
  # github:
  #  accountName: theodore86
  #  authType: pat
  #  token: ""
  #
  # For APP
  # github:
  #   accountName: theodore86
  #   authType: app
  #   appID: ""
  #   installationID: ""
  #   mountPath: /secret
  #   privateKey: |
  #   ""
  github: {}
service:
  clusterIP: ""
  port: 80
  annotations: {}
  labels: {}
replicaCount: 1
terminationGracePeriodSeconds: 30
imagePullSecrets: []
serviceAccount:
  create: true
  annotations: {}
serviceMonitor:
  enabled: false
  annotations: {}
resources:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    memory: 512Mi
# Integration with Grafana operator
grafana:
  enabled: false
  labels: {}
  annotations: {}
podLabels: {}
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
tolerations: []
affinity: {}
nodeSelector: {}
priorityClassName: ""
